In [39]:
# load k_lines

from datetime import date, timedelta
from binance.binance_k_line_repository import load_k_lines

interval_days = 7
interval_minutes = interval_days * 24 * 60
interval_date_from: date = date.today() - timedelta(days=3 + interval_days - 1)
interval_date_to: date = date.today() - timedelta(days=3)

symbol: str = "ETHUSDT"

k_lines = load_k_lines(symbol, interval_date_from, interval_date_to)

display(k_lines)

,open_timestamp_millis,open_price,high_price,low_price,close_price,volume,close_timestamp_millis,quote_asset_volume,trades_count,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,1684800000000,1816.68,1817.26,1816.67,1817.26,679.183,1684800059999,1.234070e+06,860,430.960,7.830567e+05,0
1,1684800060000,1817.25,1817.26,1817.25,1817.25,186.234,1684800119999,3.384346e+05,245,86.688,1.575346e+05,0
2,1684800120000,1817.25,1817.40,1817.22,1817.39,1212.580,1684800179999,2.203564e+06,666,548.113,9.960688e+05,0
3,1684800180000,1817.40,1817.94,1817.39,1817.74,1680.153,1684800239999,3.054093e+06,913,1056.899,1.921107e+06,0
4,1684800240000,1817.74,1817.80,1817.55,1817.79,533.592,1684800299999,9.698827e+05,404,184.401,3.351733e+05,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1435,1685404500000,1891.76,1892.37,1891.75,1892.37,1465.613,1685404559999,2.772939e+06,924,1275.371,2.413016e+06,0
1436,1685404560000,1892.37,1892.51,1891.69,1891.69,649.350,1685404619999,1.228717e+06,753,194.772,3.685513e+05,0
1437,1685404620000,1891.69,1891.70,1891.40,1891.40,313.432,1685404679999,5.928521e+05,477,134.275,2.539755e+05,0
1438,1685404680000,1891.41,1891.70,1891.40,1891.53,320.283,1685404739999,6.058215e+05,508,186.007,3.518262e+05,0
1439,1685404740000,1891.53,1891.67,1891.50,1891.50,257.742,1685404799999,4.875425e+05,399,79.586,1.505457e+05,0

In [40]:
# filter raw data

import pandas as pd

k_lines_filtered = k_lines[
    ["open_price", "low_price", "high_price", "close_price"]
].copy()
k_lines_filtered.index = pd.to_datetime(k_lines["open_timestamp_millis"], unit="ms")

k_lines_filtered

                       open_price  low_price  high_price  close_price
open_timestamp_millis
2023-05-23 00:00:00       1816.68    1816.67     1817.26      1817.26
2023-05-23 00:01:00       1817.25    1817.25     1817.26      1817.25
2023-05-23 00:02:00       1817.25    1817.22     1817.40      1817.39
2023-05-23 00:03:00       1817.40    1817.39     1817.94      1817.74
2023-05-23 00:04:00       1817.74    1817.55     1817.80      1817.79
...                           ...        ...         ...          ...
2023-05-29 23:55:00       1891.76    1891.75     1892.37      1892.37
2023-05-29 23:56:00       1892.37    1891.69     1892.51      1891.69
2023-05-29 23:57:00       1891.69    1891.40     1891.70      1891.40
2023-05-29 23:58:00       1891.41    1891.40     1891.70      1891.53
2023-05-29 23:59:00       1891.53    1891.50     1891.67      1891.50

[10080 rows x 4 columns]

In [41]:
# validate filtered raw data

assert len(k_lines_filtered) == interval_minutes

assert len(k_lines_filtered[k_lines_filtered.isna().any(axis=1)]) == 0
assert len(k_lines_filtered[k_lines_filtered.isnull().any(axis=1)]) == 0

assert len(k_lines_filtered[k_lines_filtered["open_price"] < 0]) == 0
assert len(k_lines_filtered[k_lines_filtered["low_price"] < 0]) == 0
assert len(k_lines_filtered[k_lines_filtered["high_price"] < 0]) == 0
assert len(k_lines_filtered[k_lines_filtered["close_price"] < 0]) == 0

k_lines_filtered.dtypes

open_price     float64
low_price      float64
high_price     float64
close_price    float64
dtype: object